* {
	font-family: 'Noto Sans', sans-serif;
}
header {
		/*font-size: 2em;*/
		margin-bottom: 2em;
		
}
header h2 {
	font-size: 3em;
	text-align: center;
}
header img {
	width: 20%;
	height: auto;
	margin-bottom: 2em;
}
header .col-sm-6:last-child {
		text-align: right;
		/*outline: 2px dotted orange;*/
}
#main {
	margin: 1em auto 4em auto;
}
#main h3 {
	background-color: #379dce;
	font-size: 1.25em;
	color: #fff;
	margin-bottom: 1em;
	padding: .5em;
}
.btn {
	display: block;
	background-color: #379dce;
	color: #fff;
	font-weight: bold;
	margin: 1em auto 0 auto;
}
.btn:hover {
	background: url("img/fiyuh.gif") 0 0 no-repeat;
	background-size: cover;
	color: #fff;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}