* {
	font-family: 'Noto Sans', sans-serif;
}
header {
		margin-bottom: 2em;
}
header h2 {
	font-size: 3em;
	text-align: center;
}
header h2 span {
	font-size: .35em;
}
header img {
	width: 10%;
	height: auto;
	margin: 1em 0 2em 0;
}
header .col-sm-6:last-child {
		text-align: right;
		/*outline: 2px dotted orange;*/
}
#capture-region {
	margin: 1em auto 4em auto;
}
#capture-region h3 {
	background-color: #379dce;
	font-size: 1.25em;
	color: #fff;
	margin-bottom: 1em;
	padding: .5em;
}
#capture-region h3 span {
	font-size: .5em;
}

/* FORM is valid effects */
#capture-region.so-valid input,
#capture-region.so-valid select,
#capture-region.so-valid textarea {
	font-size: 2.25em;
}
/*#capture-region.so-valid header h2 span,*/
#capture-region.so-valid .btn {
	display: none;
}

.btn {
	display: block;
	background-color: #379dce !important;
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	margin: 1em auto 0 auto;
}
.btn:hover {
	background: url("../img/fiyuh.gif") 0 0 no-repeat;
	background-size: cover;
	color: #fff;
}
footer small {
	float: right;
    margin-top: 2em;
}

/* mobile & tab.portrait */
@media (max-width: 767px) { 
	header h2 {
		font-size: 2.25em;
	}
	header img {
		display: block;
		width: 25%;
		margin: 0 auto 2em auto;
	}
}

/* tab.lando & desktop */
@media (min-width: 768px) {

}
